/* //////Body-Cuerpo //////*/
#body {
    background-color: rgb(255, 255, 255);
    max-width: 1920px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
}
#body::-webkit-scrollbar{
    background-color: rgb(235, 235, 235);
    width: 12px;   
}
#body::-webkit-scrollbar-track{
    box-shadow: 1px 1px 4px black;
    border-radius: 10px;
}
#body::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
    border: 3px solid rgb(235, 235, 235) ;
}

:is(a, h1, h2, h3, h6) {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    text-decoration-style: none;
    text-rendering: optimizeLegibility;
}
:is(img, button, label) {
    shape-rendering: geometricPrecision;
}
