/* Pagina Ofertas */
.main__Products__offimg{
    position: absolute;
    object-fit: cover;
    width: 45px;
    height: 45px;
    top: 2%;
    left: 2%;
}
.main__Products__product2__off{
    filter: drop-shadow(2px 1px 3px white);
}
